<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Value Trust</title>
    <link rel="stylesheet" href="css/accounts.css" />
    <link rel="icon" type="image/x-icon" href="/images/logos/Value Trust-logos_transparent.png">
</head>
<body>
    <div class="div1 flex"> <!--Header-->
        <div class="div1-child">
            <div>
                <img class="logo1" src="/images/logos/Value Trust-logos_transparent.png">
            </div>
            <div>
                <img class="logo1-2" src="/images/logos/Value Trust-logos_top_white.png">
            </div>
        </div>
        <div class="headercontainer">
            <button class="headerbuttons">
                Contact Us
            </button>
        </div>
    </div>
    <div class="div2">
        <div class="div2-tables ">
            <div class="flex" style="margin-right: 10px; align-items: center; justify-content: space-between;">
                <div class="user-icon">
                    <img class="image1" src="/images/logos/user icon.png">
                </div>
                <div class="user-name">
                    <h1>Hello, Mr. Dela Cruz, Juan!</h1>
                </div>
                <div class="buttons flex">
                    <button class="button1">Fund Transfer</button>
                    <!-- <button class="button1"></button> -->
                    <button class="button1">Buy Load</button>
                </div>
                <div class="current-balance">
                    <h3>Current Balance:</h3>
                    <h2>$259.61</h2>
                </div>
            </div>
            <div class="account-details">
                <div class="flex" style="display: inline-flex;">
                    <h4 class="account-info">
                        Account Number: 
                    </h4>
                    <p class="details">01-2345-6789</p>
                </div>
                <div class="flex">
                    <h4 class="account-info">
                        First Name: 
                    </h4>
                    <p class="details">Juan</p>
                </div>
                <div class="flex">
                    <h4 class="account-info">
                        Middle Name: 
                    </h4>
                    <p class="details">Rizal</p>
                </div>
                <div class="flex">
                    <h4 class="account-info">
                        Last Name: 
                    </h4>
                    <p class="details">Dela Cruz</p>
                </div>
                <div class="flex">
                    <h4 class="account-info">
                        Birthday: 
                    </h4>
                    <p class="details">01/21/1999</p>
                </div>
                <div class="flex">
                    <h4 class="account-info">
                        Address: 
                    </h4>
                    <p class="details">N/A</p>
                </div>
                <div class="flex">
                    <h4 class="account-info">
                        E-mail: 
                    </h4>
                    <p class="details">juandelacruz@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="div2-tables">
            <div class="account-details" style="margin-bottom: 0px; padding-bottom: 0px; width: fit-content; margin: 0 auto; padding: 5px;">
                <h3 class="account-info" style="text-align: center; margin-bottom: 0px;">Transaction History</h4>
            </div>
        </div>
        <div class="div2-tables" style="padding-top: 0px;">
            <div class="list-of-transaction account-details">
                <div class="account-details flex">
                    <div>
                        <h2 class="account-info">Netflix</h2>
                        <p class="details">02/25/2023</p>
                    </div>
                    <div class="cost">
                        - $20
                    </div>
                </div>
                <div class="account-details flex">
                    <div>
                        <h2 class="account-info">Netflix</h2>
                        <p class="details">01/25/2023</p>
                    </div>
                    <div class="cost">
                        - $20
                    </div>
                </div>
                <div class="account-details flex">
                    <div class="">
                        <h2 class="account-info">Lazada</h2>
                        <p class="details">01/20/2023</p>
                    </div>
                    <div class="cost">
                        - $152.21
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>