body{
    background-image: url('https://images.unsplash.com/photo-1526628953301-3e589a6a8b74?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2006&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

h3, h1, h2, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

/* div1 */

.div1{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black;
    width: 100%;
    height: 81px;
}
.div1-child{
    width: 50%;
    height: 96px;
    display: inline-flex;
    /* border: 2px solid red; */
}
.div2-child{
    padding: 16px;
    background-color: rgb(255, 255, 255, 0.5);
    /* border: 2px solid red; */
}
/* logos */

.logo1{
    width: 96px;
    height: 81px;
}
.logo1-2{
    width: 200px;
    height: 81px;
    object-fit: cover;
}

/*div2*/

.div2{
    margin: 2% 10% 2% 10%;
    height: auto;
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.7);
}
.div2-tables{
    /* border: 2px solid red; */
    padding: 10px;
}
.image1{
    width: 89px;
    height: 89px;
    border: 1px solid rgb(0, 0, 0);
    padding: 30px;
    background-color: white;
    border-radius: 50px;
    margin: 10px;
}
.account-details{
    padding: 7px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin: 10px;
}
.account-info{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.user-name{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
}
.current-balance{
    background-color: white;
    border-radius: 20px;
    margin: 0px 0px 0px auto;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}
.details{
    margin: 5px;
    font-size: 15;
    font-weight: bold;
    color: rgba(0,114,206,255);
}

.cost{
    margin: 10px 10px 10px auto;
    font-size: 25px;
    font-weight: bold;
}

/*buttons*/
.button-parent{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    /* border: 2px solid red; */
}

.button1{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: rgba(0,114,206,255);
    border: 0px;
    box-shadow: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
}

.button1:hover{
    cursor: pointer;
    box-shadow: 0 1px 2px 0;
}

.button1:active {
    background-color: rgba(0,114,206,255);
    box-shadow: 0 5px #666;
    transform: translateY(1px);
}
.buttons{
    background: white;
    border: 1px solid black;
    margin: auto;
    border-radius: 20px;
    padding: 5px;
    margin-right: 40px;
}
.headerbuttons{
    color: white;
    padding: 10px;
    background-color: black;
    margin: 20px;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.headercontainer{
    margin: 0px 10px 0px auto;
}
.headerbuttons:hover{
    color: rgba(0,114,206,255);
}